<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



<h1>About Us</h1>






<p>Singapore is a. busy city with thousands of people travelling acrossislandwide the city on a daily basis. As rate of cabs  and waiting times for public transport sky-rocket during peak hours, people are always on a lookout for a faster, cost effective and more efficient method for travel
If you are one of those then Vroom Vrentals is the place for you. Our company is dedicated to provide you a pocket friendly and hassle free journey islandwide with just a few easy steps.
Just login and fill out a little information about yourself and drive away.
If you haven’t already, Sign up today!!!</p>