 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">


<body class="aboutbody">
<div class = "container">

<h1 class="aboutheading">About Us</h1>

<p class="abouttext">Singapore is a busy city with thousands of people travelling across island-wide the city on a daily basis. As rate of cabs  and waiting times for public transport sky-rocket during peak hours, people are always on a lookout for a faster, cost effective and more efficient method for travel.
If you are one of those then Vroom Vrentals is the place for you. Our company is dedicated to provide you a pocket friendly and hassle free journey island-wide with just a few easy steps.
Just login and fill out a little information about yourself and drive away.
<div class ="aboutdiv">If you haven’t already, Sign up today!!!</div></p>


</body>

<h3 class="aboutsubheading">Terms and Conditions</h3>
<ul>
	<li class="aboutpolicy">Associate shall ensure that the Vehicle has at least 30% fuel at the start of the listing.</li>
	<li class="aboutpolicy">Associate shall be responsible for ensuring that the Vehicle is provided to any customer in a clean condition.</li>
	<li class="aboutpolicy">If a customer returns the Vehicle in a condition that requires professional cleaning, you can mark the car unclean in the checklist, VroomVrentals shall levy a cleaning charge to the customer and the same would be passed on actual in the associate payout.</li>
</ul>


<div class="footer-copyright text-center py-3">© 2020 Copyright:
<a href="https://mdbootstrap.com/"> VroomVrentals</a>
</div>
</div>