<body class="contactbody">
<div class = "container">

<h1 class="contactheading">Contact Us</h1>
<ul>
<li class="contacttext"><span class="contactspan">Visit us at:</span> www.Vroom.com</li>
<li class="contacttext"><span class="contactspan">For any queries please contact:</span>+65 1234 5678</li>
<li class="contacttext"><span class="contactspan">Office Working Hours:</span> Mon-Fri, 9AM-5PM</li>
</ul>

</body>

<h3 class="aboutsubheading">Terms and Conditions</h3>
<ul>
	<li class="aboutpolicy">Associate shall ensure that the Vehicle has at least 30% fuel at the start of the listing.</li>
	<li class="aboutpolicy">Associate shall be responsible for ensuring that the Vehicle is provided to any customer in a clean condition.</li>
	<li class="aboutpolicy">If a customer returns the Vehicle in a condition that requires professional cleaning, you can mark the car unclean in the checklist, VroomVrentals shall levy a cleaning charge to the customer and the same would be passed on actual in the associate payout.</li>
</ul>

