<h1>Return Car</h1>

<%= form_with scope: :booking, model: @booking, local: true  do |form| %>

 <p>Are you sure you want to return the car? </p>

  <p>
  	<%= submit_tag "Return My Car" %>

  </p>


<% end %>

<%= link_to 'Back', root_path %>