<p>
	<strong>Name:</strong>
	<%= @customer.name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @customer.address %>
</p>

<p>
	<strong>Lisence Number:</strong>
	<%= @customer.lisence_number %>
</p>

<p>
	<strong>Lisence Expiry:</strong>
	<%= @customer.lisence_expiry %>
</p>