.aboutbody {
  background-color: #ffd11a;
}
.aboutheading {
  padding-top: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}
.abouttext {
  padding-top: 40px;
  justify-content: justify;
  font-family: "Oswald", sans-serif;
}
.aboutdiv {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: black;
}
.aboutpolicy {
  justify-content: justify;
  font-family: "Oswald", sans-serif;
}
.aboutsubheading {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}

//contact us
.contactheading {
  padding-top: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  padding-bottom: 40px;
}
.contactbody {
  background-color: #ffd11a;
}
.contacttext {
  text-align: center;
  justify-content: justify;
  font-family: "Oswald", sans-serif;
  list-style: none;
}
.contactspan {
  font-weight: bolder;
}

//customershow
.customerbody {
  background-color: #ffd11a;
}
.customertext {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.customerprofilebutton {
  display: flex;
  justify-content: center;
}
.profilesubbutton {
  padding-top: 30px;
}
.buttontext {
  color: white;
  background-color: #333333;
}
.historybutton {
  padding-left: 22px;
}

//customerbookingpage

.customerbookingbody {
  background-color: #ffd11a;
}
.customerbookingheading{
	padding-top: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  padding-bottom: 40px;
}
.customerbookinglist{
	list-style: none;
}
.customerbookingtext{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.returnbutton{
	padding-top: 20px;
	padding-left: 40px;
}

//customereditpage

.customereditbody {
  background-color: #ffd11a;
}
.customereditheading{
	padding-top: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  padding-bottom: 40px;
}
.customereditform{
	display: flex;
	justify-content: center;
}
.backbutton{
	display: flex;
	justify-content: center;
	padding-right: 20px;
}

//carshowpage

.carshowbody{
	background-color: #ffd11a;
}
.carshowtext{
	font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.carshowbutton{
	display: flex;
	float: right;
}

//newbookingpage

.bookingnewbody{
	background-color: #ffd11a;
}
.bookingformtext{
	font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.showcarimage{
	display: flex;
	justify-content: center;
}

//customernewpage

.customernewbody {
  background-color: #ffd11a;
}
.customernewheading{
	padding-top: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  padding-bottom: 40px;
}
.customernewform{
	display: flex;
	justify-content: center;
}

//carsindexpage
.carindexbody {
  background-color: #ffd11a;
}
.carindextext{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;


}