
 <body class ="carindexbody">
<div class = "container">
	<div class="carindextext">

		<% @cars.each do |car| %>
    	<tr>


      		<td><%= link_to image_tag(car.image_url) , car_path(car) , class: "carindeximage"%></td>


    	</tr>
  	<% end %>
  </div>
	</div>
</div>

</body>





